@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --azul-escuro: #26333D;
    --texto: #26333d;
    --branco: #ffffff;
    --cor-destaque: #2fd6cb;
    --fundos: #e9f0ef;
    --textos-paginas: #535353;
    --cor-bordas: #cccccc

}

html {
    scroll-behavior: smooth
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--branco);
    color: var(--texto);
}

a {
    color: var(--branco);
    text-decoration: none;
    /*tira linha*/
}

.cabecalho {
    background-color: var(--azul-escuro);

    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;

    padding: 0px 120px;

    height: 10vh;
    /*10% da visualização do user*/
}

.navegacao {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navegacao a {
    text-transform: uppercase;
    font-size: 1em;
    /*equivale a 16px*/
    font-weight: 500;

}
/* ------------------------------------------------------------------ */
/* pagina  */
/* ------------------------------------------------------------------ */

.página-listagem {
    display: grid;
    grid-template-columns: auto 1fr;
}

.menu-lateral {
    background-color: var(--azul-escuro);
    height: 100vh;
    border-radius: 0 30px 30px 0;
    display: flex;
    flex-direction: column;

    padding: 30px 50px;


}

.topo-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao-voltar {
    width: 40px;
    height: 40px;

    font-size: 22px;

    border-radius: 50%;

    border: 2px solid var(--cor-destaque);

    background-color: transparent;
    color: var(--branco);

    align-self: flex-end;
}

.logo {
    margin-top: 10%;
    margin-bottom: 30%;

    width: 40%;
}

.menu-navegacao {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item-menu{
    display: flex;
    align-items: center;
    gap: 20px;

text-transform: uppercase;
font-weight: 700;
font-size: 0.9em;
}

.item-menu i {
    width: 30px;
    font-size: 1.5em;
}

.item-menu:hover {
    color: var(--cor-destaque);
    padding-bottom: 10px;
    border-bottom: 4px solid var(--cor-destaque);
}

.item-menu.ativo{
    padding-bottom: 10px;
    border-bottom: 4px solid var(--cor-destaque);
}

.botao-sair {
    display: flex;
    align-items: center;
    justify-content: center;
gap: 20px;

font-size: 1em;
font-weight: 700;
text-transform: uppercase;

margin-top: auto;
}

.botao-sair i {
    width: 30px;
}

.botao-sair:hover {
    color: var(--cor-destaque);
}

/* conteudo */

.conteudo-listagem {
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 30px 60px;
    background-color: var(--branco);
    background-image: url(../imgs/fundo-telas.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right bottom;

    height: 100vh;
}

/* cabeçalho main */
.cabecalho-pagina h1{
    font-size: 2em;
    font-weight: 700;

    margin-bottom: 10px;
}

.cabecalho-pagina p{
    font-size: 1.2em;
    color: var(--textos-paginas);
}

/* card principal */

.card-listagem {
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;

    padding: 40px;
    height: auto;
    box-shadow:
        inset 0 20px 50px rgba(255, 255, 255, 0.5), 0 4px 4px rgba(0, 0, 0, 0.25);

        display: flex;
        flex-direction: column;

}